@import url('./var.less');
html, body {
  padding: 0;
  margin: 0;
  background-color: transparent;
}
* {
  box-sizing: border-box;
  font-size: 14px;
  transition: all .2s ease-in-out;
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: @scroll-back;
    opacity: 0;
  }
  &::-webkit-scrollbar-thumb {
    background-color: @scroll-thumb;
    cursor: pointer;
  }
  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
  &::-webkit-scrollbar-track-piece {
    background-color: transparent;
  }
}
a {
  text-decoration: none;
  color: inherit;
  &:hover {
    color: @link;
  }
}
