// 颜色
@scroll-back: transparent;
@scroll-thumb: #42b983; // #2F54EB #42b983

@background: #F0F2F7;
@link: #42b983; // #2ECC71 42b983
@hover: rgba(47,84,235, 0.4);

// 变量
@box-shadow: 0 13px 15px rgba(31,45,61,.15);
