// 颜色
@scroll-back: rgba(0,0,0,0.15);
@scroll-thumb: #42b983;

@background: #F0F2F7;
@link: #42b983; // #2ECC71 42b983
@hover: rgba(4,98,241, 0.4);

// 变量
@box-shadow: 0 13px 15px rgba(31,45,61,.15);
